*{
    margin: 0;
    height: 0;
}
.container{
    width: 100%;
  height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h3{
    margin-bottom: 44px;
    text-align: center;
}
textarea{
   
    width: 50vw;
    padding: 28px;
    border-radius: 12px;
    resize: none;
    font-family: inherit;

 

}

textarea:hover{
    border: solid 5px green
}

select{
    height: 30px;
    border-radius: 12px;
}

